<launch>

  <arg name="multi" default="true" />
  <arg name="sim" default="true" />
  <arg name="robot_ip" default="192.168.125.1" unless="$(arg sim)"/>
  <arg name="camera" default="false" />
  <arg name="pointer" default="false" />
  <arg name="tracking" default="false" />
  <arg name="node_start_delay" default="" />

  <group if="$(arg camera)" >
    <include file="$(find depthai_ros_driver)/launch/camera_lite.launch" >
    </include>
  </group>

  <group if="$(arg multi)" >
    <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_dual_arm.yaml" />
  </group>
  <group unless="$(arg multi)" >
    <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_mp_m.yaml" />
  </group>

  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <group if="$(arg pointer)" >
    <include file="$(find abb_irb120_moveit_config)/launch/planning_context.launch" >
      <arg name="load_robot_description" value="true" />
      <arg name="pointer" value="true" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="pointer_to_tip_tf" args="0.03 0 -0.06 0 0 0 1 pointer pointer_tip 10" />
    <node pkg="tf" type="static_transform_publisher" name="pointer_m_to_tip_m_tf" args="-0.03 0 -0.06 0 0 0 1 pointer_m pointer_m_tip 10" />
  </group>

  <group unless="$(arg pointer)">
    <include file="$(find abb_irb120_moveit_config)/launch/planning_context.launch" >
      <arg name="load_robot_description" value="true" />
      <arg name="pointer" value="false" />
    </include>
  </group>

  <!-- run the robot simulator and action interface nodes -->
  <group if="$(arg sim)">
    <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch">
    </include>
    <include file="$(find abb_irb120_moveit_config)/launch/fake_moveit_controller_manager.launch">
    </include>
    <!-- <param name="/use_sim_time" value="true"/> -->
  </group>

  <group unless="$(arg sim)">
  <!-- run the "real robot" interface nodes -->
  <!--   - this typically includes: robot_state, motion_interface, and joint_trajectory_action nodes -->
  <!--   - replace these calls with appropriate robot-specific calls or launch files -->
    <include file="$(find abb_driver)/launch/robot_interface.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="pointer" value="$(arg pointer)"/>
    </include>
    <include file="$(find abb_irb120_moveit_config)/launch/dual_arm_moveit_controller_manager.launch">
    </include>
  </group>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <group if="$(arg sim)">
    <include file="$(find abb_irb120_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="fake_execution" value="true" />
      <arg name="pointer" value="$(arg pointer)"/>
    </include>
  </group>

  <group unless="$(arg sim)">
    <include file="$(find abb_irb120_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="pointer" value="$(arg pointer)"/>
    </include>
  </group>

  <include file="$(find abb_irb120_moveit_config)/launch/moveit_rviz.launch">
    <arg name="camera" value="$(arg camera)"/>
    <arg name="tracking" value="$(arg tracking)"/>
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
  </include>

</launch>