<launch>

  <arg name="serial_no_camera1" value="017322075060" />
  <arg name="serial_no_camera2" value="130322270317" />
  <arg name="camera1" default="d435"/>
  <arg name="camera2"	default="d405"/>
  <arg name="camera3"	default="oak"/>
  <arg name="tf_prefix_camera1" default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2" default="$(arg camera2)"/>
  <arg name="tf_prefix_camera3" default="$(arg camera3)"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no" value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_camera1)"/>
        <arg name="json_file_path" value="$(find abb_control)/config/d435_camera_config.json" />
        <arg name="filters" value="pointcloud,temporal,decimation" />
        <arg name="depth_fps" value="10" />
        <arg name="depth_height" value="720" />
        <arg name="depth_width" value="1280" />
        <arg name="color_fps" value="10" />
        <arg name="color_height" value="720" />
        <arg name="color_width" value="1280" />
        <arg name="align_depth" value="true" />
        <arg name="ordered_pc" value="true" />
    </include>
    <!-- <node pkg="tf" type="static_transform_publisher" name="link_6_to_d435_color_optical_frame_tf" args="0.0131191 0.0345247 -0.0382688 0.708756, -0.7054088, -0.0062758, 0.0048991 link_6 d435_color_optical_frame 10" /> -->
    <node pkg="tf" type="static_transform_publisher" name="link_6_to_d435_link_tf" args="0.01801587 0.0156162 -0.03926776 0.00038930373662151424 0.7130193860400215 -0.002601741316836596 0.7011393830871517 link_6 d435_link 10" />
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no" value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix" value="$(arg tf_prefix_camera2)"/>
        <arg name="json_file_path" value="$(find abb_control)/config/d405_camera_config.json" />
        <arg name="filters" value="pointcloud,temporal,decimation" />
        <arg name="depth_fps" value="10" />
        <arg name="depth_height" value="720" />
        <arg name="depth_width" value="1280" />
        <arg name="color_fps" value="10" />
        <arg name="color_height" value="720" />
        <arg name="color_width" value="1280" />
        <arg name="align_depth" value="true" />
        <arg name="ordered_pc" value="true" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_link_m_to_d405_color_optical_frame_tf" args="-0.180838 -0.270798 0.314999 0.84536115  0.36976739 -0.12184461 -0.36577383 base_link_m d405_color_optical_frame 10" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_m_to_d405_link_tf" args="-0.1808 0.2708 0.3150 -0.3625 0.1163 0.8516 0.3602 base_link_m d405_link 10" /> -->
  </group>
    
  <group>
    <include file="$(find depthai_ros_driver)/launch/rgbd_pcl.launch" >
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_link_m_to_oak_rgb_camera_optical_frame_tf" args="-0.343573 0.50373 0.551695​ -0.0456 0.9259 -0.3731 -0.0382 base_link_m oak_rgb_camera_optical_frame 10" />
  </group>

</launch>