<launch>
  
  <arg name="moveit_controller_manager" default="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
  <param name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />

<!--   <arg name="controller_manager_name" default="simple_controller_manager" />
  <param name="controller_manager_name" value="$(arg controller_manager_name)" />

  <arg name="use_controller_manager" default="false" />
  <param name="use_controller_manager" value="$(arg use_controller_manager)" / -->>

  <!-- <rosparam file="$(find abb_irb120_moveit_config)/config/controllers.yaml" ns="move_group/controller_list"/>  -->

  <!-- The line below is calling /mp_m_controller/joint_trajectory_action/action_topics -->
  <rosparam file="$(find abb_irb120_moveit_config)/config/controllers.yaml" param="/controller_list" ns="/move_group/controller_list">[/move_group/controller_list]</rosparam>

</launch>