<launch>

  <group ns="mp">
    <remap from="/follow_joint_trajectory" to="/mp/follow_joint_trajectory"/>
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <remap from="/robot_description" to="/mp/robot_description"/>
  </group>

  <group ns="mp_m">
    <remap from="/follow_joint_trajectory" to="/mp_m/follow_joint_trajectory"/>
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <remap from="/robot_description" to="/mp_m/robot_description"/>
  </group>

  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
  args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find abb_irb120_moveit_config)/config/kinematics.yaml"/>
  </node>
  
  <arg name="config" default="true" />
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find abb_irb120_moveit_config)/rviz/moveit.rviz" />

</launch>