<launch>

  <!-- execute the trajectory in 'interpolate' mode or jump to goal position in 'last point' mode -->
  <arg name="fake_execution_type" default="interpolate" />
  <arg name="pointer" default="false" />

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <param name="moveit_controller_manager" value="moveit_fake_controller_manager/MoveItFakeControllerManager"/>

  <!-- The rest of the params are specific to this plugin -->
  <group if="$(arg pointer)">
    <rosparam file="$(find abb_irb120_moveit_config)/config/fake_controllers_pointers.yaml"/>
  </group>

  <group unless="$(arg pointer)">
    <rosparam file="$(find abb_irb120_moveit_config)/config/fake_controllers.yaml"/>
  </group>

</launch>