<launch>

  <arg name="camera" default="false" />
  <arg name="tracking" default="false" />
  <arg name="node_start_delay" default="" />

  <group unless="$(arg camera)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find abb_irb120_moveit_config)/rviz/moveit.rviz"/>
  </group>

  <group if="$(arg camera)">
    <group if="$(arg tracking)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find abb_irb120_moveit_config)/rviz/record.rviz" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    </group>

    <group unless="$(arg tracking)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find abb_irb120_moveit_config)/rviz/moveit_camera.rviz" />
    </group>
  </group>

</launch>
