<launch>

  <!-- This launch file provides a socket-based connection to ABB robots
       using the standard ROS Industrial simple_message protocol.
         ** a new parameter is added to control J23-linkage correction **

       Several nodes are started, to supply both low-level robot communication
       and higher-level actionlib support:
         - robot_state : publishes current joint positions and robot state data
         - motion_download_interface : command robot motion by sending motion points to robot
         - joint_trajectory_action : actionlib interface to control robot motion

    Usage:
      robot_interface.launch robot_ip:=<value> [J23_coupled:=false]
  -->

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" doc="IP of the controller"/>
  <arg name="pointer" default="false" />
  
  <!-- J23_coupled: set TRUE to apply correction for J2/J3 parallel linkage -->
  <arg name="J23_coupled" default="false" doc="If true, compensate for J2-J3 parallel linkage" />

  <include file="$(find abb_irb120_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
    <arg name="pointer" value="$(arg pointer)" />
  </include>
  
  <group ns="mp">
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="J23_coupled" type="bool" value="$(arg J23_coupled)"/>
    <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_mp.yaml" />
    
    <!-- robot_state: publishes joint positions and robot-state data
                     (from socket connection to robot) -->
    <node pkg="abb_driver" type="robot_state" name="robot_status">
      <param name="port" value="11002"/>
    </node>

    <node pkg="topic_tools" type="relay" name="feedback_relay" args="/mp/feedback_states /feedback_states"/>
    
    <!-- motion_download_interface: sends robot motion commands by DOWNLOADING path to robot
                                    (using socket connection to robot) -->
    <node pkg="abb_driver" type="motion_download_interface" name="motion_download_interface">
      <param name="port" value="11000"/>
    </node>

    <!-- the space here is very important - /mp/joint_states /joint_states -->
    <node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>

    <node pkg="topic_tools" type="relay" name="joints_relay" args="/mp/joint_states /joint_states"/>

  </group>

  <group ns="mp_m">
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="J23_coupled" type="bool" value="$(arg J23_coupled)"/>
    <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_mp_m.yaml" />
    
    <!-- robot_state: publishes joint positions and robot-state data (from socket connection to robot) -->
    <node pkg="abb_driver" type="robot_state" name="robot_status">
      <param name="port" value="12002"/>
    </node>

    <node pkg="topic_tools" type="relay" name="feedback_relay" args="/mp_m/feedback_states /feedback_states"/>
    <remap from="feedback_states" to="feedback_states"/>

    <!-- motion_download_interface: sends robot motion commands by DOWNLOADING path to robot
                                    (using socket connection to robot) -->
    <node pkg="abb_driver" type="motion_download_interface" name="motion_download_interface">
      <param name="port" value="12000"/>
    </node>
    
    <node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>

    <node pkg="topic_tools" type="relay" name="joints_relay" args="/mp_m/joint_states /joint_states"/>

  </group>
  
</launch>
